


.contact-title{
    position: relative;
}
.contact-title::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 60%;
    border-bottom: 4px solid #FFDB00;
}
@media screen and (max-width: 1024px) {
    .contact-title::after{
        width: 100%;
    }
    
}